body {
  background-color: #2B9DB2;
  display: block;
  margin: 0;
}
.firstimage{
  background-color: #B02A04;
  height: 40%;
  display: inline-block;
  padding-right: 207px;
}
section{
  background-color: #BAE8E6;
}

.secondimage{
  background-color: #BAE8E6;
  padding-top:16px;
  padding-bottom: 9px;
  float: right;
  margin-right: 100px;

}
img {
  height: 200px;
  width:auto;
  float:left;

}
h4 {
  color: white;
  font-family: lobster, cursive, georgia;
  font-size: .9em;
  letter-spacing: .30em;
}

h1 {
  color: #FF430E;
  text-align: center;
  font-family: lobster,cursive, georgia;
}


p{
  color: #010074;
  font-family: cabin, sans-serif;
  line-height: 1.4em;
}
nav{
  font-family: cabin, sans-serif;
  color: #white;
  background-color: #FCF670;
  display: inline;
}

ul {
  width: auto;
  list-style-type:none;
  margin: 0px;
  margin-left: 0px;
  background-color: #E8DDBA;
  padding-top: 3px;

}
h2 {
  color: #71E9FF;
  text-transform: uppercase;
}
li {
  margin: 0 120px;
  display: inline;
}

/*Sales html page*/

.hoursEl{
  list-style-type: disc;

}
table{
  color: orange;
  font-family: cabin, sans-serif;
  /*font-size-adjust: auto;*/
  /*text-align: center;*/
  /*display: inline;*/
}
th{
  color:white;
  line-height: 2em;
  font-family: cabin, sans-serif;
  text-align: center;
  font-size: 1.6em;
}
td{
  padding-left: 1.5em;
  line-height: 1.3em;
  text-align: center;
}
.familypic{
  height: 77px;
}
