section {
  background-color: #B02A04;
  height: 40%;
  display: inline-block;
}

body {
  background-color: #2B9DB2;
  display: block;
}
img {
  height: 200px;
  width:auto;
  float:left;
  background-color: #B02A04;
}
h1 {
  color: #FF430E;
  text-align: center;
  font-family: lobster,cursive, georgia;
}

h4 {
  color: white;
  font-family: lobster, cursive, georgia;
  font-size: 1.2em;
  letter-spacing: .30em;
}


}
p{
  color: #010074;
  font-family: cabin, sans-serif;
  line-height: 1.4em;
}
nav{
  font-family: cabin, sans-serif;
  color: #FFBC84;
  background-color: #FCF670;
  display: inline;
}
ul {
  list-style-type:none;
  width: 300px;
  background-color:

}
h2 {
  color: #71E9FF;
  text-transform: uppercase;
}
li {
  float: left;
  /*background-color: #B02A04;*/
}

/*Sales html page*/

.hoursEl{
  list-style-type: disc;

}
table{
  color: orange;
  font-family: cabin, sans-serif;
  /*font-size-adjust: auto;*/
  /*text-align: center;*/
  /*display: inline;*/
}
th{
  color:white;
  line-height: 2em;
  font-family: cabin, sans-serif;
  text-align: center;
  font-size: 1.6em;
}
td{
  padding-left: 1.5em;
  line-height: 1.3em;
  text-align: center;
}
