h1 {
  color: #FF430E;
  text-align: center;
  font-family: lobster,cursive, georgia;
}
body {
  background-color: #2B9DB2;
}
/*#logo{
  align-items: center;*/
}
p{
  color: #010074;
  font-family: cabin, sans-serif;
  line-height: 1.4em;
}
nav{
  font-family: cabin, sans-serif;
  color: #FFBC84;
}
h2 {
  color: #71E9FF;
  text-transform: uppercase;
}
ul {
  list-style-type: disc;
  width: 300px;
}
.hoursEl{
  list-style-type: disc;

}
