
body {
  background-color: #2B9DB2;
  display: block;
  margin: 0;
}
.firstimage{
  background-color: #B02A04;
  height: 40%;
  display: inline-block;
  padding-right: 225px;
}

.images{
  background-color: #BAE8E6;
}

.secondimage{
  background-color: #BAE8E6;
  padding-top:16px;
  padding-bottom: 9px;
  float: right;
  margin-right: 100px;

}
img {
  height: 200px;
  width:auto;
  margin-left: 10px;
}
.wrapper {
  color: #010074;
  font-family: cabin, sans-serif;
  line-height: 1.4em;
  margin-left: 34px;
  border: 10px solid;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 5px;
  padding-right: 5px;
  width: 438px;
}
.column1{
  width: 500px;
}

h4 {
  color: white;
  font-family: lobster, cursive, georgia;
  font-size: .9em;
  letter-spacing: .30em;
}
h2 {
  color: #71E9FF;
  text-transform: uppercase;
  margin-left: 34px;
  margin-top: 0px;
  padding-top:15px;
  background: #2db34a;
   -webkit-transition-property: background;
      -moz-transition-property: background;
        -o-transition-property: background;
           transition-property: background;
   -webkit-transition-duration: 1s;
      -moz-transition-duration: 1s;
        -o-transition-duration: 1s;
           transition-duration: 1s;
   -webkit-transition-timing-function: linear;
      -moz-transition-timing-function: linear;
        -o-transition-timing-function: linear;
           transition-timing-function: linear;
}
h2:hover {
 background: white;
}



p{
  color: #010074;
  font-family: cabin, sans-serif;
  line-height: 1.4em;
  margin-left: 34px;
  border: 10px solid;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 5px;
  padding-right: 5px;
}
.column2 {
  margin-top: 40px;
  margin-right: 34px;
  position: absolute;
  display: inline-block;
  top: 274px;
  margin-left: 500px
}




.navlist {
  width: auto;
  list-style-type:none;
  margin: 0px;
  margin-left: 0px;
  background-color: #E8DDBA;
  padding-top: 3px;

}
.options {
  margin: 0 120px;
  display: inline;
}

.locations {
  padding-left: 0px;
  display:inline-block;
  float: left;
  clear: left;
}
.time {
  padding-left: 15px;
  list-style-type: none;
  display: inline-block;
  float: right;
  clear:right;
}

.events {
  color: #010074;
  font-family: cabin, sans-serif;
  line-height: 1.4em;
  margin-left: 34px;
  border: 10px solid;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 5px;
  padding-right: 5px;
  width: 438px;
}
.merchandise {
  float: left;
  clear: left;
  width: 287px;
}
ul {
  display: inline-block;

}
