h1 {
  color: #FF430E;
  font-family: lobster,cursive, georgia;
}
h2 {
  color:#71E9FF;
  text-transform: uppercase;
  font-family: cabin, sans-serif;
}

p {
  color: #010074;
  font-family: cabin, sans-serif;
  line-height: 1.4em

}
nav{
  color: #FFBC84;
}
